{% extends 'base.html' %}

{% block content %}

<h2>Add Medicine</h2>

<form method="POST">

{% csrf_token %}

<input class="form-control mb-2" name="name" placeholder="Medicine Name">

<input class="form-control mb-2" name="code" placeholder="Medicine Code">

<select class="form-control mb-2" name="category">

<option>Tablet</option>
<option>Syrup</option>
<option>Injection</option>

</select>

<input class="form-control mb-2" name="manufacturer" placeholder="Manufacturer">

<input type="date" class="form-control mb-2" name="expiry">

<input class="form-control mb-2" name="price" placeholder="Price">

<input class="form-control mb-2" name="stock" placeholder="Stock">

<textarea class="form-control mb-2" name="description" placeholder="Description"></textarea>

<button class="btn btn-success">Save</button>

</form>

{% endblock %}