{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<h2 class="mb-4">Medicine List</h2>

<div class="d-flex justify-content-between mb-3">

<form method="GET" class="w-50">

<div class="input-group">

<input type="text" name="search" class="form-control"
placeholder="Search medicine by name">

<button class="btn btn-primary">Search</button>

</div>

</form>

</div>

<div class="table-responsive">

<table class="table table-hover table-bordered align-middle">

<thead class="table-dark">

<tr>

<th>#</th>
<th>Medicine Name</th>
<th>Category</th>
<th>Price</th>
<th>Expiry Date</th>
<th>Stock</th>
<th>Actions</th>

</tr>

</thead>

<tbody>

{% for medicine in medicines %}

<tr class="{% if medicine.stock < 10 %}table-danger{% endif %}">

<td>{{ forloop.counter }}</td>

<td>
<a href="/details/{{medicine.id}}/" class="fw-bold text-decoration-none">
{{medicine.name}}
</a>
</td>

<td>{{medicine.category}}</td>

<td>₹ {{medicine.price}}</td>

<td>{{medicine.expiry_date}}</td>

<td>

{% if medicine.stock < 10 %}

<span class="badge bg-danger">
Low ({{medicine.stock}})
</span>

{% else %}

<span class="badge bg-success">
{{medicine.stock}}
</span>

{% endif %}

</td>

<td>

<a href="/details/{{medicine.id}}/" class="btn btn-info btn-sm">
View
</a>



</td>

</tr>

{% empty %}

<tr>

<td colspan="7" class="text-center text-muted">
No medicines found
</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}